@page
@model WebApp_Silicon.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}


<section id="sign-up">
    <div class="container">

        <form method="post">
            <h1>Create Account</h1>
            <p>Already have an account? <a asp-asp-page="/SignIn">Sign in here</a></p>

            <div class="content">
                <div class="input-group">
                    
                </div>
            </div>
        </form>
    </div>
</section>