@page
@model WebApp_Silicon.Pages.LoginModel
@{
    ViewData["Title"] = "Sign In";
}


<section id="login">
    <div class="container">
        <div class="inlog-content">
            <div class="content">
                <h1>Welcome Back</h1>
                <p>Don't have an account yet?<a href="#"> Sign up here.</a></p>
            </div>
            <div class="form-content">
                <form>
                    <p class="input-text-email">Email</p>
                    <input id="email-input" placeholder="Enter your email address">
                    <p class="input-text-password">Password</p>
                    <input id="password-input" type="password" placeholder="Enter your password">
                    <div class="checkbox-box">
                        <input id="checkbox-input" type="checkbox">
                        <label for="rememberMe">Remember me</label>
                    </div>
                    <div class="button-box">
                        <a id="btn-sign-in" href="#">Sign in</a>
                        <div class="center-link">
                            <a id="forgot-password" href="#">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>