@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.btn-gray {
  background-color: #EFF2FC;
  padding: 11px 20px;
  color: #33354D;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.3s ease;
}
.btn-gray i {
  margin-right: 10px;
}
.btn-gray:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.btn-theme {
  background-color: #6366F1;
  padding: 11px 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.3s ease;
  border: none;
}
.btn-theme i {
  margin-right: 10px;
}
.btn-theme:hover {
  background-color: black;
  transition: 0.3s;
}

.btn-switch label {
  margin-left: 5px;
  color: #565973;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Justerad bredd för proportioner */
  height: 24px; /* Önskad höjd */
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
  border-radius: 24px; /* Gör den rundad */
}
.btn-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px; /* Justerad höjd för slider-knappen */
  width: 20px; /* Justerad bredd för slider-knappen */
  left: 2px; /* Mindre utrymme på sidorna */
  bottom: 2px; /* Centrerad vertikalt */
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* Gör den helt rund */
}
.btn-switch input:checked + .slider {
  background-color: #2196F3;
}
.btn-switch input:checked + .slider:before {
  transform: translateX(16px); /* Justerad för att matcha den nya bredden */
}

.btn-theme-s {
  background-color: #6366F1;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s ease;
}
.btn-theme-s:hover {
  background-color: black;
  transition: 0.3s ease;
}

.btn-subscribe {
  background-color: #6366F1;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.btn-subscribe:hover {
  background-color: black;
  transition: 0.3s ease;
}

form {
  display: grid;
  width: 100%;
}
form h1 {
  color: #0B0F19;
  font-weight: 900;
}
form p {
  color: #565973;
}
form .input-group {
  display: grid;
  margin: 1rem 0;
}
form .checkbox-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
form .checkbox-group input[Type=checkbox] {
  height: 1.2rem;
  width: 1.2rem;
}
form .checkbox-group label {
  font-weight: 400;
  margin: 0;
}
form label {
  margin-bottom: 5px;
  font-weight: 700;
}
form input {
  padding: 1rem;
  border-radius: 5px !important;
  border: 1px solid #B4B7C9;
}
form input::placeholder {
  opacity: 0.5;
}
form input.input-validation-error {
  border: 1px solid red !important;
}
form input.input-validation-error::placeholder {
  color: red;
  opacity: 0.5;
}
form span.field-validation-error {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 0.8rem;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: white;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.wrapper main {
  background-color: rgb(230, 230, 230);
}

header {
  font-family: "Manrope", sans-serif;
  padding: 15px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo menu switch buttons";
  gap: 40px;
}
header .container #menu a {
  color: #33354D;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  transition: 0.3s ease;
}
header .container #menu a:hover {
  color: #6366F1;
  transition: 0.3s ease;
}
header .container .btn-switch {
  align-items: center;
  vertical-align: center;
}
header .container .account-buttons .btn-gray {
  margin-right: 10px;
}

#showcase {
  padding-top: 110px;
  position: relative;
  color: black;
  height: 1000px;
  z-index: 99;
  background-color: white;
}
#showcase .background-image {
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#showcase .container {
  padding-top: 100px;
  padding: 0 20px;
  align-items: center;
  min-height: 100vh;
}
#showcase .content {
  text-align: left;
  z-index: 2;
}
#showcase .content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #0B0F19;
}
#showcase .content p {
  font-size: 1rem;
  margin-top: 40px;
  color: #565973;
}
#showcase .content .btn-theme-s {
  margin-top: 20px;
  transition: 0.3s ease;
}
#showcase .content h6 {
  margin-top: 100px;
  font-size: 0.8rem;
  margin-bottom: 30px;
  color: #0B0F19;
  font-weight: 900;
}
#showcase .content .brands {
  display: flex;
  gap: 20px;
}
#showcase .content .brands img {
  height: auto;
  max-width: 100px;
}

footer {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .container {
  min-height: 100px;
  color: black;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  text-align: center;
  color: #9397AD;
}
footer .container .social-media-box {
  display: flex;
  justify-content: center;
}
footer .container .social-media-box img {
  margin-left: 20px;
  transition: transform 0.2s ease-in-out;
}
footer .container .social-media-box img:hover {
  transform: scale(1.1);
}
footer .container p {
  margin-top: 40px;
}

#features {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 1000px;
  background-color: #F3F6FF;
  font-family: "Manrope", sans-serif;
}
#features .container .content {
  justify-content: center;
  text-align: center;
}
#features .container .content h1 {
  font-size: 36px;
  font-weight: 700;
  color: #0B0F19;
}
#features .container .content p {
  color: #9397AD;
  font-size: 1rem;
}
#features .container .info-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 100px;
}
#features .container .info-boxes .box {
  border-right: 2px solid #E2E5F1;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#features .container .info-boxes .box:hover {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgb(225, 225, 225);
  transition: 0.3s ease;
}
#features .container .info-boxes .box h3 {
  font-weight: 700;
}
#features .container .info-boxes .box p {
  color: #565973;
}
#features .container .info-boxes .box i {
  font-size: 40px;
  margin-bottom: 30px;
  color: #6366F1;
}
#features .container .info-boxes #box-1 {
  border-bottom: 2px solid #E2E5F1;
}
#features .container .info-boxes #box-2 {
  border-bottom: 2px solid #E2E5F1;
}
#features .container .info-boxes #box-3 {
  border-bottom: 2px solid #E2E5F1;
  border-right: none;
}
#features .container .info-boxes #box-6 {
  border-right: none;
}

#light-dark {
  padding-bottom: 100px;
  background-color: white;
  position: relative;
}
#light-dark .dark-content {
  width: 50%;
  background-color: #0B0F19;
  min-height: 1000px;
}
#light-dark .container .center-text {
  display: flex;
  justify-content: center; /* Centrerar innehållet horisontellt */
  align-items: center; /* Centrerar innehållet vertikalt (om det behövs) */
  text-align: center; /* Centrerar texten horisontellt */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Säkerställer att texten kan centreras korrekt */
  font-size: 40px;
  font-weight: 900;
}
#light-dark .container .white-text {
  color: white;
}
#light-dark .container .black-text {
  color: black;
  margin-left: 80px;
}
#light-dark .container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#manage-your-work {
  background-color: white;
  font-family: "Manrope", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}
#manage-your-work .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#manage-your-work .container img {
  width: 100%;
}
#manage-your-work .container .content {
  width: 50%;
  margin-left: 90px;
}
#manage-your-work .container .content h2 {
  color: #333;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}
#manage-your-work .container .content .text-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#manage-your-work .container .content .text-box i {
  font-size: 1.5rem;
  color: #6366F1;
  margin-right: 10px;
}
#manage-your-work .container .content .text-box p {
  color: #9397AD;
  font-size: 1rem;
  margin: 0;
  line-height: 1.5;
}
#manage-your-work .container .content .btn-theme-s {
  margin-top: 30px;
}
#manage-your-work .container .content .btn-theme-s i {
  margin-left: 10px;
}

#download {
  background-color: #F3F6FF;
  padding-top: 100px;
  padding-bottom: 100px;
}
#download .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
}
#download .container .content h1 {
  font-size: 40px;
  font-weight: 900;
}
#download .container .content .content-box {
  margin-top: 50px;
}
#download .container .content .content-box h3 {
  font-size: 1rem;
  color: #9397AD;
}
#download .container .content .content-box .text-boxes {
  display: flex;
  justify-content: space-between;
}
#download .container .content .content-box .text-boxes .text-box h2 {
  color: #0B0F19;
  font-weight: 900;
  font-size: 30px;
  margin-top: 15px;
}
#download .container .content .content-box .text-boxes .text-box p {
  color: #565973;
}
#download .container .content .content-box .text-boxes img {
  margin-left: 60px;
}

#intergrate {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  min-height: 500px;
}
#intergrate .container {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#intergrate .container h1 {
  font-size: 40px;
  font-weight: 900;
  color: #0B0F19;
}
#intergrate .container p {
  color: #9397AD;
  font-size: 1rem;
  margin-top: 20px;
}
#intergrate .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 100px;
  gap: 60px;
}
#intergrate .container .content .content-box {
  text-align: left;
  padding: 25px 10px 0px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}
#intergrate .container .content .content-box img {
  margin-bottom: 15px;
}
#intergrate .container .content .content-box p {
  font-size: 1rem;
}
#intergrate .container .content .content-box:hover {
  box-shadow: 0px 3px 20px rgb(225, 225, 225);
}

#newsletter {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F6FF;
  font-family: "Manrope", sans-serif;
}
#newsletter .container {
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}
#newsletter .container img {
  position: absolute;
  right: 520px;
  top: 0px;
}
#newsletter .container .policy-text {
  margin-top: 20px;
  display: flex;
}
#newsletter .container .policy-text #blue-star {
  color: #6366F1;
}
#newsletter .container h1 {
  font-size: 40px;
  font-weight: 900;
}
#newsletter .container .sign-up-content {
  display: flex;
  margin-top: 50px;
}
#newsletter .container .sign-up-content .sign-up-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #B4B7C9;
  background-color: #FFF; /* vit bakgrund */
  width: 80%;
}
#newsletter .container .sign-up-content .sign-up-box .sign-up {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  color: #565973;
}
#newsletter .container .sign-up-content .sign-up-box .sign-up i {
  margin-left: 15px;
  margin-right: 10px;
  color: #565973; /* ikonfärg */
}
#newsletter .container .sign-up-content .sign-up-box .sign-up .email-input {
  border: none;
  outline: none;
  width: 100%;
}
#newsletter .container .sign-up-content .btn-subscribe {
  margin-left: 30px;
}
#newsletter .container .content {
  display: flex;
  margin-top: 40px;
}
#newsletter .container .content h2 {
  font-size: 30px;
  font-weight: 900;
}
#newsletter .container .content .checkbox-content {
  margin-left: 20px;
}
#newsletter .container .content .checkbox-content .check-box-text {
  margin-left: 50px;
}
#newsletter .container .content .checkbox-content .check-box-text label {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1rem;
}

#category-content {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}
#category-content .container {
  background-color: white;
}
#category-content .container .navigator nav a {
  margin-left: 5px;
  text-decoration: none;
}
#category-content .container .navigator nav .not-active {
  color: #9397AD;
}
#category-content .container .navigator nav .is-active {
  color: #6366F1;
}
#category-content .container .navigator nav i {
  margin-left: 5px;
  color: #9397AD;
}
#category-content .container .category-box {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
#category-content .container .category-box h1 {
  font-size: 40px;
  font-weight: 900;
}
#category-content .container .category-box .category-filter-box {
  display: flex;
}
#category-content .container .dropdown {
  position: relative;
  display: inline-block;
}
#category-content .container .dropdown .drop-btn {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}
#category-content .container .dropdown .drop-btn i {
  margin-left: 200px;
}
#category-content .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#category-content .container .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#category-content .container .dropdown:hover .dropdown-content {
  display: block;
}
#category-content .container .search-box {
  margin-left: 30px;
  position: relative;
  height: 40px;
  border-radius: 10px;
  min-width: 300px;
}
#category-content .container .search-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}
#category-content .container .search-box input[type=text] {
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 300px;
}

#courses {
  background-color: white;
  font-family: "Manrope", sans-serif;
}
#courses .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 50px;
}
#courses .container .course-box {
  border-radius: 10px 10px 0 0;
  border: 1px transparent;
  color: #33354D;
  position: relative;
  box-shadow: 0px 0px 5px rgb(225, 225, 225);
  transition: transform 0.2s ease-in-out;
}
#courses .container .course-box:hover {
  transform: scale(1.02);
}
#courses .container .course-box img {
  border-radius: 10px 10px 0 0;
}
#courses .container .course-box .save-course {
  position: absolute;
  display: flex;
  top: 15px;
  right: 15px;
  height: 36px;
  width: 36px;
  background-color: white;
  font-size: 20px;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#courses .container .course-box .best-seller {
  position: absolute;
  display: flex;
  top: 15px;
  left: 15px;
  background-color: #22C55E;
  font-size: 0.8rem;
  border: 1px solid #22C55E;
  color: white;
  border-radius: 5px;
  padding: 3px 7px 3px 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#courses .container .course-box .best-seller p {
  margin: 0;
}
#courses .container .course-box .image-box img {
  width: 100%;
}
#courses .container .course-box .course-content {
  padding: 30px 25px 20px 25px;
}
#courses .container .course-box .course-content .pricing {
  display: flex;
  margin: 0;
  align-items: center;
  height: 20px;
}
#courses .container .course-box .course-content .pricing .sale-price {
  color: red;
  margin-right: 10px;
  font-size: 1.2rem;
}
#courses .container .course-box .course-content .pricing .original-price {
  color: #9397AD;
  margin-left: 10px;
  font-size: 1.1rem;
  text-decoration: line-through;
  font-weight: 300;
}
#courses .container .course-box .course-content h2 {
  font-size: 1.3rem;
  font-weight: 900;
}
#courses .container .course-box .course-content p {
  font-size: 1rem;
  color: #565973;
  margin-top: 20px;
}
#courses .container .course-box .course-content h3 {
  color: #6366F1;
  font-weight: 700;
  font-size: 1.2rem;
}
#courses .container .course-box .course-content .line {
  border-bottom: 1px solid #E2E5F1;
  margin-top: 20px;
}
#courses .container .course-box .feedback-box {
  display: flex;
  padding: 5px 25px 5px 25px;
  align-items: center;
  color: #9397AD;
  margin-bottom: 15px;
}
#courses .container .course-box .feedback-box .fa-thumbs-up {
  margin-left: 20px;
}
#courses .container .course-box .feedback-box p {
  margin: 0;
  margin-left: 5px;
  font-size: 1rem;
}

#get-started {
  padding-top: 100px;
  background-color: white;
}
#get-started .container {
  background-color: #F3F6FF;
  padding: 100px 100px 100px 100px;
}
#get-started .container .content {
  position: relative;
}
#get-started .container .content img {
  position: absolute;
  right: 120px;
  top: -60px;
}
#get-started .container .content h3 {
  font-size: 20px;
}
#get-started .container .content .text-content {
  display: flex;
  margin-bottom: 50px;
}
#get-started .container .content .text-content h2 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 20px;
}
#get-started .container .content .btn-work-with-us {
  background-color: #6366F1;
  color: white;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  transition: 0.3s ease;
}
#get-started .container .content .btn-work-with-us:hover {
  background-color: black;
  transition: 0.3s ease;
}

#signin {
  padding-top: 100px;
  background-color: white;
  height: 100%;
}
#signin .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}
#signin .container form .content {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "email" "password" "confirm" "remember" "button" "forgot";
}
#signin .container form #form-email {
  grid-area: email;
}
#signin .container form #form-password {
  grid-area: password;
}
#signin .container form #form-remember {
  grid-area: remember;
}
#signin .container form #form-button {
  grid-area: button;
  margin-top: 1rem;
}
#signin .container form .btn-theme {
  box-shadow: 0px 8px 18px -8px #6366F1;
}
#signin .container form #forgot-password {
  grid-area: forgot;
  text-align: center;
  margin-top: 10px;
}

#signup {
  padding-top: 100px;
  background-color: white;
  height: 100%;
  padding-bottom: 20px;
}
#signup .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
}
#signup .container form .content {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "button button";
}
#signup .container form #form-firstname {
  grid-area: firstname;
}
#signup .container form #form-lastname {
  grid-area: lastname;
}
#signup .container form #form-email {
  grid-area: email;
}
#signup .container form #form-password {
  grid-area: password;
}
#signup .container form #form-confirm {
  grid-area: confirm;
}
#signup .container form #form-terms {
  grid-area: terms;
}
#signup .container form #form-button {
  grid-area: button;
  margin-top: 1rem;
}
#signup .container form .btn-theme {
  box-shadow: 0px 8px 18px -8px #6366F1;
}
