<footer id="footer">
    <div class="container">
        <div class="social-media-box">
            <a href="#"><img src="./images/icons/facebook-icon.svg" alt="facebook-icon"></a>
            <a href="#"><img src="./images/icons/twitter-icon.svg" alt="twitter-icon"></a>
            <a href="#"><img src="./images/icons/instagram-icon.svg" alt="instagram-icon"></a>
            <a href="#"><img src="./images/icons/youtube-icon.svg" alt="youtube-icon"></a>
        </div>
        <p>
            <strong>© @DateTime.Now.Year Silicon. All rights reserved.</strong> Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse<br>
            viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.
        </p>
    </div>
</footer>