@using WebApp_Silicon.Pages.Components
<header>
    <div class="container">
        <a id="logo" href="/Index"><img src="./images/silicon-logo.svg" alt=""></a>
        <div id="menu">
            <nav>
                <a class="" href="/Index">Overview</a>
                <a class="" href="#features">Features</a>
                <a class="" href="#footer">Contact</a>
                <a class="" asp-page="/Courses">Courses</a>
            </nav>
        </div>
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>
        <div class="account-buttons">
            <a class="btn-gray" asp-page="/signin"><i class="fa-solid fa-right-to-bracket"></i><span>Sign In</span></a>
            <a class="btn-theme" asp-page="/signup"><i class="fa-solid fa-user-plus"></i><span>Sign Up</span></a>
        </div>
    </div>
</header>