@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
#newsletter {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F3F6FF;
    font-family: 'Manrope', sans-serif;


    .container {
        padding-left: 100px;
        padding-right: 100px;
        position: relative;

        img {
            position: absolute;
            right: 520px;
            top: 0px;
        }


        .policy-text {
            margin-top: 20px;
            display: flex;


            #blue-star {
                color: #6366F1;
            }
        }


        h1 {
            font-size: 40px;
            font-weight: 900;
        }


        #subscribeForm {

            .sign-up-content {
                display: flex;
                margin-top: 50px;


                .sign-up-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 10px;
                    border: 1px solid #B4B7C9;
                    background-color: #FFF; /* vit bakgrund */
                    width: 80%;


                    .sign-up {
                        display: flex;
                        align-items: center;
                        border: none;
                        width: 100%;
                        color: #565973;


                        i {
                            margin-left: 15px;
                            margin-right: 10px;
                            color: #565973; /* ikonfärg */
                        }


                        .email-input {
                            border: none;
                            outline: none;
                            width: 100%;
                        }
                    }
                }


                .btn-subscribe {
                    margin-left: 30px;
                }
            }

            .errorMessage {
                color: red;
                margin-top: 10px;
                font-weight: 700;
            }

            .successMessage {
                color: green;
                margin-top: 10px;
                font-weight: 700;
            }
        }



        .content {
            display: flex;
            margin-top: 40px;


            h2 {
                font-size: 30px;
                font-weight: 900;
            }


            .checkbox-content {
                margin-left: 20px;


                .check-box-text {
                    margin-left: 50px;


                    label {
                        margin-left: 10px;
                        margin-top: 10px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}